@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Han+Sans&family=Hi+Melody&family=Noto+Serif+KR:wght@500&display=swap&family=Archivo+Black&family=Black+Han+Sans&family=Racing+Sans+One');

body::-webkit-scrollbar {
  display: none;
}

.news_text, em{
	font-family: 'Racing Sans One', cursive;
	font-weight: bold;
	font-size: 48px;
	text-transform: initial;
}
article{
	position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
	padding: 80px 40px 100px;
	
}

.news_body{
	display: flex;
    justify-content: space-between;
}

.news_header h1 {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.375;
    text-transform: uppercase;
    color: #000;
}

h1 {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.375;
    text-transform: uppercase;
    color: #000;
}

em {
    margin-left: 16px;
    font-weight: 700;
    font-style: normal;
}

ul li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a, a:link {
    text-decoration: none;
}

.news_list_item{
	
    border-bottom: 1px solid #d1d1d1;
    margin: 0rem 0 3rem;
    padding-bottom: 4rem;
}

.news_list_item:last-child{
	border:0;
}

.news_item_link {
    align-items: initial;
    display: flex;
    align-items: center;
}


.news_item_img {
    width: 256px;
    height: 144px;
    position: relative;
    flex-shrink: 0;
    background-color: #000;
}
.news_item_ima_area{
	height: 100%;
    background: #F7F7F7 url(/InswaveApp/images/techBlog/InswaveLogoImg.png) no-repeat;
    background-position: center;
    background-size: auto 100%;
    overflow: hidden;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.news_item_info{
	margin-left: 32px;
    width: calc(100% - 420px - 32px);
    min-width: 740px
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.summary {
    line-height: 24px;
    max-height: 96px;
    font-size: 14px;
    margin-top: 8px;
    max-width: 770px;
    text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.news_pagination {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.news_pagination a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    line-height: 1em;
    vertical-align: middle;
    color: #999;
    cursor: pointer;
}

.prev{
    background: url(/InswaveApp/images/techBlog/prev.PNG) no-repeat;
}

.next{
    background: url(/InswaveApp/images/techBlog/next.png) no-repeat;
}

.prev, .next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 0;
    background-position: center;
    background-size: 12px auto;
}


.page{
	
    font-size: 16px;
}